body {
    background-color: #e0b3ff;
}

.sidebar-nav {
    list-style: none;
    margin-top: 10px;
}

.logout-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

.card {
    min-height: 200px;
    width: 100%;
}
.card-body{
    height: 35%;
}
.card img{
    height: 65%;
    object-fit: contain;
}
